/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.number-container {
  width: 500px; /* Set the width of the container */
  border: 0px solid #000000; /* Just for visualization */
  text-align: left; /* Align the text to the right */
  position: absolute;
  top: 50px; /* specify the vertical position */
  left: 100px; /* specify the horizontal position */
}

.number {
  font-size: 16px;
  display: block; /* Make the number a block element so it takes up the full width of the container */
}

