.dracula_BUYABLE {
    border: rgb(255,0,0) 1px;
    color: rgb(255,255,255);
}
.dracula_BUYABLE .canbuy {
    background-color: rgb(155,50,0);
}
.dracula_BUYABLE .bought {
    background-color: rgb(156, 0, 0);
}
.dracula_BUYABLE .unbought {
    background-color: rgb(70, 45, 0);
}
.dracula_BUYABLE:hover {
	background-color: #444444;
  transition-duration: 250ms;
}
.dracula_BUYABLES:not(:hover) {
	background-color: #000000;
    transition-duration: 250ms;
}

.dracula_UPGRADE.bought {
  background-color: rgb(156, 0, 0);
}
.dracula_UPGRADE.unbought {
  background-color: rgb(70, 45, 0);
}
.dracula_UPGRADE.canbuy {
  background-color: rgb(155,50,0);
}
.dracula_UPGRADE:hover {
  box-shadow: 0 0 8px 2px rgba(255, 0, 0, 0.5);
  transition-duration: 250ms;
  width: 48px;
  height: auto;
  vertical-align: middle;
}
.dracula_UPGRADE:not(:hover) {
  box-shadow: 0 0 0px 0px rgba(121, 0, 0, 0.5);
  transition-duration: 1000ms;
  width: 32px;
  height: auto;
  vertical-align: middle;
}

.BODYdracula {
    font-family: "Monaco", Monospace;
    background-color: rgb(14, 0, 0);    
}

.dracula_LARGEBORDER {
  border: 1px solid rgb(255, 0, 0);
  box-shadow: 0 0 2px 0px rgb(255, 0, 0);
}

.MAIN_dracula {
    font-family: "Monaco", Monospace;
}

.dracula_RESET:hover {
	background-color: #440000;
  transition-duration: 250ms;
}
.dracula_RESET:not(:hover) {
	background-color: #000000;
  transition-duration: 250ms;
}

.dracula_TABBTN {
  text-align: left;
  padding-left: 3px;
	width: calc(100% - 1px);
	min-height: 40px;
  border: 1px solid;
  border-color: #ff0000;
  background-color:#180000;
}
.dracula_SUBTABBTN {
  text-align: center;
  padding-bottom: 3px;
	height: calc(100% - 1px);
	min-width: 160px;
  width: 160px;
  border: 0px solid;
  border-color: #ff0000;
  background-color:#180000;
  z-index: 200;
}
.dracula_TABBTNINNER {
  text-align: left;
  padding-left: 3px;
	width: calc(100% - 1px);
	min-height: 40px;
  border: 1px solid;
  border-color: #ff0000;
  background-color:rgba(0,0,0,0);
}
.dracula_SUBTABBTNINNER {
  text-align: center;
  padding-bottom: 3px;
	height: calc(100% - 1px);
	min-width: 160px;
  width: 160px;
  border: 1px solid;
  border-color: #ff0000;
  background-color: rgba(0,0,0,0);
  z-index: 200;
}

.spinnerdracula {
  background-image:
  radial-gradient(rgba(255,255,255,.3), rgba(255,255,255,.05) 1px, transparent 80px);
}

.dracula_SUBTABBTN:hover {
	background-color: #490000;
  transition-duration: 250ms;
}
.dracula_SUBTABBTN:not(:hover) {
	background-color: #180000;
  transition-duration: 250ms;
}
.dracula_SUBTABBTN.chosen {
  border-bottom-width: 10px;
}

.dracula_TABBTN:hover {
	background-color: #490000;
  transition-duration: 250ms;
}
.dracula_TABBTN:not(:hover) {
	background-color: #180000;
  transition-duration: 250ms;
}
.dracula_TABBTN.chosen {
  border-left-width: 10px;
}

.generalBackgrounddracula {
  
  overflow: hidden;
  z-index: 0;
  width: calc(100% - 400px);
  height: calc(100vh - 30px);
  left: 200px;
  top: 30px;
  background-color: rgb(15,0,0);
  background-image: repeating-linear-gradient(90deg, transparent, transparent 1%, rgba(30,0,0,.5) 2%);
  position: absolute;
  
}